html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

body.with-nav {
    margin-top: 8rem;
}

.container {
    min-width: 90%
}

.logo {
    height: 3rem;
}

.bg-image-container {
    height: 100vh;
    background-size: cover;    
}

.bg-image-1 {
    background-image: url(../image/bg-image-1.png);
}

.bg-image-2 {
    background-image: url(../image/bg-image-2.png);
}

.bg-image-3 {
    background-image: url(../image/bg-image-3.png);
}

.bg-image-4 {
    background-image: url(../image/bg-image-4.png);
}

.login-block {
    padding: 2rem;
    max-width: 35rem;
}

.btn-lang {
    padding: .2rem .6rem;
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 700;
    color: #828282;
}

.btn-lang.active {
    background-color: #000000;
    color: #FFFFFF;
}

.login-container {
    margin-top: 4rem;
}

.login-title {
    font-size: 1.7rem;
    font-weight: 700;
}

.login-title-text {
    font-size: .9rem;
    font-weight: 400;
    color: #828282;
}

.input-label {
    margin: .2rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #828282;
}

button.btn:focus, 
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 transparent;
    border-color: #929292;
}

.btn-login-submit {
    width: 100%;
    height: 2.5rem;
    background-color: #5FC98B;
    font-size: .9rem;
    font-weight: 700;
    color: #FFFFFF;
}

.btn-login-light {
    width: 100%;
    height: 2.5rem;
    background-color: #F0F0F0;
    font-size: .9rem;
    font-weight: 700;
    color: #000000;
}

.login-sub-text {
    margin: 1rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    color: #828282;
}

.login-text {
    margin-top: 1rem;
    font-size: .7rem;
    font-weight: 400;
    color: #828282;
}

.form-block-title {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #000000;
}

.forgot-password {
    margin: 1rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: underline;
    color: #343836;
}

.pincode-input-container {
    display: inline-flex;
    width: 100%;
}

input[type="text"].pincode-input-text {
    width: 1.6rem;
    border: 0 solid transparent;
    border-bottom: 0.15rem solid #000000;
    margin: 0.7rem;
    height: 4rem;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 0;
    padding: 0;
}

.pincode-input-text::placeholder {
    color: #E0E0E0;
}

.pincode-input-text:focus {
    border-bottom: 0.15rem solid #E0E0E0 !important;
}

.btn-change-password {
    margin: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: #2F80ED;
}

.btn-rounded {
    padding: 0.6rem 1.5rem;
    font-size: .9rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 2rem;
}

.btn-custom-submit {
    height: 2.5rem;
    background-color: #5FC98B;
    font-size: .9rem;
    font-weight: 700;
    color: #FFFFFF;
}

.btn img {
    width: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
}

.bnt-custom-1 {
    background-color: #EB5757;
}

.bnt-custom-2 {
    background-color: #00AD9D;
    color: #FFFFFF;
}

.btn-custom-dark {
    height: 2.5rem;
    background-color: #212839;
    font-size: .9rem;
    font-weight: 700;
    color: #FFFFFF;
}

.btn-custom-light {
    height: 2.5rem;
    background-color: #FFFFFF;
    font-size: .9rem;
    font-weight: 700;
    color: #000000;
}

.btn-bordered {
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.25);
}

.language-select {
    width: 3.3rem;
    height: 1.8rem;
    padding: 0;
    padding-left: 0.3rem;
}

#main-nav-1 {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.nav-item {
    margin-right: 3rem;
}

.nav-link {
    font-weight: 700;
    color: #000000;
}

.slider-main .slide {
    background: radial-gradient(
        38.83% 155.4% at 76.98% 61.17%,
         rgb(255, 255, 255) 0%, 
         rgba(232, 245, 234, 0.81) 100%), 
         linear-gradient(0deg, rgb(244, 247, 255), 
         rgb(244, 247, 255));
    background-color: rgba(232, 245, 234, 0.81);
    height: 75vh;
}

.slide:focus {
    outline: none;
}

.slider-title {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 700;
}

.slider-title-2 {
    margin-top: 5rem;
    font-size: 2.6rem;
    font-weight: 700;
}

.slider-text {
    margin-top: 2.5rem;
    font-weight: 600;
}

.slider-img {
    height: 75vh;
}

.slider-dot-1 {
    width: .5rem;
    height: .5rem;
    margin-bottom: .25rem;
    display: inline-block;
    background-image: url(../image/slider-dot-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-active > .slider-dot-1 {
    margin: 0;
    width: 1rem;
    height: 1rem;
    background-image: url(../image/slider-dot-1-current.png);
}

.slick-dots {
    bottom: 1rem;
}

.text-custom-1 {
    font-weight: 300;
    color: #333333;
}

.cicle-light {
    width: 4rem;
    height: 4rem;
    padding-top: 1rem;
    border-radius: 50%;
    background-color: #F2F2F2;
}

.bg-color-1 {
    background-color: #DDEAD7;
}

.cicle-light img {
    display: inline-block;
    width: 1.5rem;
}

.title-custom-1 {
    font-size: 1.3rem;
    font-weight: 700;
}

.text-custom-2 {
    font-weight: 400;
}

.text-custom-3 {
    font-size: 1.4rem;
    font-weight: 700;
}

#consultation {
    padding-bottom: 5rem;
    background-color: #F3F6F3;
}

.button-container {
    width: fit-content;
    padding: .25rem;
    border-radius: 2.2rem;
    background-color: #FFFFFF;
}

.slider-consultation .slide {
    width: 12rem;
}

.slider-card {
    width: 94%;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}

.slider-card-img {
    display: inline-block !important;
    margin-bottom: 1.5rem;
    width: 48%;
}

.slider-card-text {
    font-weight: 600;
}

#doctors {
    /* padding-bottom: 5rem; */
    background-color: #F3F6F3;
}

@media (min-width: 768px) {
    .slider-card-shadow {
        box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    body.with-nav {
        margin-top: 4rem;
    }

    /* #navbar-container {
        top: 0;
        left: 1000rem;
        bottom: 0;
        right: 0;
        background-color: #FFFFFF;
        position: absolute;
        z-index: 1000;
    } */

    .slider-main .slide {
        padding-bottom: 7rem;
    }
    
    .slider-main .slide { rgba(232, 245, 234, 0.81);
        height: unset;
    }
}